

/* media query start here.... */

/* @media screen and (max-width:767px){

    .social-section {
        left: 500px;
        top: 250px;
    }
}


@media screen and (max-width:450px){

    .social-section {
        left:200px;
        top: 250px;
    }
} */