/* utility css start here.. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color:#f6f6f6;

}

h2 {
    font-size: 3rem;
    text-transform: capitalize;
    display: inline-block;
}

h3 {
    font-size:1.5rem;
    font-weight: normal;
}

.main-btn{
    padding:8px 40px;
    border:2px solid #5151e1;
    background-color:#5151e1;
    color:#fff;
    border:none;
    border-radius:5px;
    text-transform: capitalize;
    transition: .2s;
}

.main-btn:hover{
    color:#000;
    border:2px solid #5151e1;
    background-color: #fff;
}


::-webkit-scrollbar {
    width:6px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}




/* header-section */
nav {
    background-color: #fff;
    box-shadow: 0 0 20px #000;
    text-transform: capitalize;
    height:9vh;
}

.container .navbar-nav .nav-item a{
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    transition: .3s;
}
.container .navbar-nav .nav-item a:hover{
    color:#3535e9;
}





/* hero-section start here.. */
.hero-section {
    background-image: url('/images/body-bg.png.webp');
    background-repeat: no-repeat;
}

.hero-section .container .row {
    height: 120vh;
    color: #0f0606;

}




/* social-section */
.social-section {
    height: 20vh;
    position: fixed;
    top: 250px;
    left: 5px;
}

.social-section i {
    margin-block: 35px;
    cursor: pointer;
    transition: .3s;
    color: #0f0f0f;
}
.social-section .fa-linkedin:hover{
    color:#5151e1;
}
.social-section .fa-github:hover{
    color:#000;
}
.social-section .fa-whatsapp:hover{
    color:rgb(42, 158, 42);
}



/* about-section */
.about-section .container{
    background-color:#fff;
}


/* thought-section */
.thought-section {
    height:50vh;
    background-image: url('../images/photo-1576269483449-3b694997b362.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode:hard-light;
    background-color: #00000071;
    background-size: cover;
    background-position: center;
}

.thought-section .container div div {
    color: #fff;
}






/* education-section */
.education-section .container-fluid {
    text-transform: capitalize;
    color: #fff;
}




/* contect-section */
.contect-section{
    height:50vh; 
}
form input{
    padding:7px 5px;
    border:none;
    border-bottom: 2px solid #000;
    display: block;
    outline:none;
    text-transform: capitalize;
    margin-bottom: 25px;
    width:50%;
    background-color:#f6f6f6;
    /* pointer-events: none; */
}



/* footer-section */
.footer-section{
    background-image: url('../images/footer_wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height:30vh;
    display:flex;
    align-items: center;
    color:#fff;
}